#clock{
    display: block;
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    background-color: black;
    color: yellow;
    border-radius: 12px;
    margin-bottom: 40px;
}


/* slider */
.slider {
	width: 100%;
	position: relative;
}
.slider-wrapper {
	display: flex;
	overflow: hidden;
	position: relative;
}

.slide {
	display: none;
	position: absolute;
	/* transform: scale(0); */
	opacity: 0;
	width: 0;
	visibility: hidden;
	transition: all 0.5s;
	top: 0;
	left: -100%;
}
.slide.active {
	display: block;
	/* transform: scale(1); */
	width: 100%;
	opacity: 1;
	visibility: visible;
	position: relative;
	left: 0;
}

.slide .img {
	height: 450px;
	object-fit: cover;
}
.img{
    width: 100%;
}
.desc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70%;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.slide-btn {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	color: white;
	font-size: 30px;
	border-radius: 50%;
	background-color: darkorchid;
    border: none;
}

.slide-btn.next {
	left: unset;
	right: 20px;
}
/* dots */
.dots{
    display: flex;
    gap: 5px;
    justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dot{
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    opacity: 0.5;
    border-radius: 50%;
	border: none;
}
.dot_active{
    opacity: 100%;
}

/*countdown clock*/
.countdown-box {
    display: flex;
    max-width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: black;
    color: yellow;
    border-radius: 12px;
    padding: 20px;

  }
  
  .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .countdown-number {
    font-size: 40px;
  }
  
  .countdown-label {
    font-size: 12px;
    margin-top: 5px;
  }
  